<div class="hero min-h-screen flex justify-center items-center"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp); height: 100vh;">
  <div class="hero-overlay">

    <div class="flex w-full flex-col">
      <div class="divider">
        <div class="hero-content text-neutral-content text-center">
          <div style=" padding: 20%; justify-content: center; "  >
            <h1 class="display-3">Aplicación para paises
            </h1>
            <p class="mb-5">
              Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
              quasi. In deleniti eaque aut repudiandae et a id nisi.
            </p>
            <button 
            routerLink="/country"
            class="btn btn-outline btn-success" >Success</button>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
