<nav class="navbar bg-success pt-0 pb-0">
  <div class="navbar-title">
    <h1 style="margin-bottom: 0px;">Paises</h1>
  </div>
  <div class="navbar-buttons ">
    <button class="navbar-btn " routerLink="by-capital" routerLinkActive="btn btn-warning">
      <!-- SVG de Iconify para "Inicio" -->
      <mat-icon>grade</mat-icon>
      Por capital
    </button>
    <button class="navbar-btn " routerLink="by-country" routerLinkActive="btn btn-warning">
      <mat-icon>location_city</mat-icon>
      Por pais
    </button>
    <button class="navbar-btn " routerLink="by-region" routerLinkActive="btn btn-warning">
      <!-- SVG de Iconify para "Información" -->
      <mat-icon> map</mat-icon>
      Por región
    </button>
  </div>
</nav>
