<section class="mt-5 ">
    <table class="table table-md mt-2 w-full">
      <thead>
        <tr>
          <th>#</th>
          <th>ícono</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Capital</th>
          <th>Población</th>
          <th></th>
  
        </tr>
      </thead>
      <tbody>
        @for (country of countries(); track country.cca2; let index = $index){
        <tr>
            <td>{{index +1}}</td>
            <td>{{country.flag}}</td>
            <td><img [src]="country.flagSvg" [alt]="country.name" style="width: 40px; "></td>
            <td>{{country.name}}</td>
            <td>{{country.capital}}</td>
            <td>
              <span 
               style="background-color: rgb(78, 236, 84); border-radius: 10%; padding: 4px;">
                {{country.population}}
              </span>
            </td>
            <td>
              <a class="link-primary">Mas información</a>
            </td>
    
          </tr>
        }
      </tbody>
    </table>
  
  </section>